<app-header></app-header>
<div class="ip-banner"  style="background-image: '/assets/img/uolabt.jpeg';" >
    <div class="ban-text" style="text-align: center;">
        <h2>ABOUT US</h2>
    </div>
</div>
<section class="meet-team">
    <div class="container">
        <div class="row">
            <div class="col-12 ">
                <div class="welcome-wrap text-center">
                    <!-- <hr class="hr-custom"> -->
                    <p class="heading-1">THE TEAM</p>
                    <!-- <hr class="hr-custom"> -->
                    <p class="contentText">Meet the wonderful team that keeps everything running smoothly. If you’d like to join our executive team or one of our existing projects, check our <a [routerLink]="['/vacancies']" [queryParams]="{ q: '', published: '1', order: 'asc' }" href="javascript:;">vacancies page</a> or <a [routerLink]="['/contact-us']" href="javascript:;">contact us</a>.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-4" *ngFor="let team of teams">
                <div class="meetTeam" >
                    <figure>
                        <img class="insta" height="529" [src]="team?.imageURL?.S">
                    </figure>
                    <figcaption>
                        <div class="top">
                            <div>
                                <h3>{{team?.fName?.S}} {{team?.lName?.S}}</h3>
                                <p>{{team?.position?.S}}</p>
                            </div>
                            <div class="socialIcons">
                            <a class="linkedIcon"  [href]="team?.contactDetails?.M?.M?.M?.linkedIn?.S"   target="_blank"></a>
                            <!-- <a class="instaIcon" href="" target="_blank"></a> -->
                            </div>
                        </div>
                        <!-- <div class="bottom">
                            <p>Rowan Atkinson's facial expressions are so priceless that even his passport photo is a stand-up comedy. If laughter is the best medicine, then watching Mr. Bean is a prescription for a lifetime supply.</p>
                        </div> -->
                    </figcaption>
                </div>
            </div>

           
            
        </div>
    </div>
</section>
<app-footer></app-footer>

    