<section class="banner">
    <div class="imageMap"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="topbannerCon" *ngIf="currentWindowWidth > 992">
                    <h2>Lorem ipsum dolor sit amet, 
                        Lorem ipsum dolor sit amet.</h2>
                    <div class="infoz">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque, est ac efficitur aliquam, augue risus placerat lectus, consectetur molestie leo sem at nunc.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque, est ac efficitur aliquam, augue risus placerat lectus, consectetur molestie leo sem at nunc.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="topbanner-content" *ngIf="currentWindowWidth < 992">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3>Lorem ipsum dolor sit amet, 
                        Lorem ipsum dolor sit amet.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque, est ac efficitur aliquam, augue risus placerat lectus, consectetur molestie leo sem at nunc.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque, est ac efficitur aliquam, augue risus placerat lectus, consectetur molestie leo sem at nunc.</p>
                </div>
            </div>
        </div>
</section>
<section class="story-lcc">
    <img class="left-position" src="/assets/img/processlcc.svg">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 col-lg-6 offset-lg-6 d-flex align-items-center">
                <div class="description right">
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque, est ac efficitur aliquam, augue risus placerat lectus, consectetur molestie leo sem at nunc.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque, est ac efficitur aliquam, augue risus placerat lectus, consectetur molestie leo sem at nunc.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="story-lcc">
    <img class="right-position" src="/assets/img/lcc_structure.png">

    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 col-lg-6 d-flex align-items-center">
                <div class="description left">
                    <h3>Lorem ipsum dolor sit amet </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque, est ac efficitur aliquam, augue risus placerat lectus, consectetur molestie leo sem at nunc.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque, est ac efficitur aliquam, augue risus placerat lectus, consectetur molestie leo sem at nunc.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="story-lcc">
    <img class="left-position" src="/assets/img/lcc_mission.png">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 col-lg-6 offset-lg-6 d-flex align-items-center">
                <div class="description right">
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque, est ac efficitur aliquam, augue risus placerat lectus, consectetur molestie leo sem at nunc.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque, est ac efficitur aliquam, augue risus placerat lectus, consectetur molestie leo sem at nunc.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="meet-team">
    <div class="container">
        <div class="row">
            <div class="col-12 ">
                <div class="welcome-wrap text-center">
                    <h3 class="d-flex align-items-center">Meet our team</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque, est ac efficitur aliquam, augue risus placerat lectus, consectetur molestie leo sem at nunc.</p>
                    <p>Want to join the team? <a routerLink="/contact" href="javascript:;">Get in touch</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-4" >
                <div class="meetTeam">
                    <figure>
                        <img class="insta" height="529" src="/assets/img/rowan.jpg">
                    </figure>
                    <figcaption>
                        <div class="top">
                            <div>
                                <h3>Rowan Atkinson</h3>
                                <p>The Spy</p>
                            </div>
                            <div class="socialIcons">
                            <a class="linkedIcon"  href=""  target="_blank"></a>
                            <a class="instaIcon" href="" target="_blank"></a>
                            </div>
                        </div>
                        <div class="bottom">
                            <p>Rowan Atkinson's facial expressions are so priceless that even his passport photo is a stand-up comedy. If laughter is the best medicine, then watching Mr. Bean is a prescription for a lifetime supply.</p>
                        </div>
                    </figcaption>
                </div>
            </div>

            <div class="col-12 col-lg-6 col-xl-4" >
                <div class="meetTeam">
                    <figure>
                        <img class="insta" height="529" src="/assets/img/robert.jpg">
                    </figure>
                    <figcaption>
                        <div class="top">
                            <div>
                                <h3>Robert Downey Jr</h3>
                                <p>The Iron Man</p>
                            </div>
                            <div class="socialIcons">
                            <a class="linkedIcon"  href=""  target="_blank"></a>
                            <a class="instaIcon" href="" target="_blank"></a>
                            </div>
                        </div>
                        <div class="bottom">
                            <p>Robert Downey Jr. is so charming that even his iron suits envy his charisma. If Sherlock Holmes ever needs a break, he should just call RDJ for some deductive wit and a dash of Tony Stark flair.</p>
                        </div>
                    </figcaption>
                </div>
            </div>

            <div class="col-12 col-lg-6 col-xl-4" >
                <div class="meetTeam">
                    <figure>
                        <img class="insta" height="529" src="/assets/img/galgadot.jpg">
                    </figure>
                    <figcaption>
                        <div class="top">
                            <div>
                                <h3>Gal Gadot</h3>
                                <p>The Wonder Women</p>
                            </div>
                            <div class="socialIcons">
                            <a class="linkedIcon"  href=""  target="_blank"></a>
                            <a class="instaIcon" href="" target="_blank"></a>
                            </div>
                        </div>
                        <div class="bottom">
                            <p>Gal Gadot is so stunning that even mirrors take a moment to admire her. If Wonder Woman needed a sidekick, it would be her infectious smile saving the day.</p>
                        </div>
                    </figcaption>
                </div>
            </div>
            
        </div>
    </div>
</section>

    