
  
<app-header></app-header>
<div class="container">
    <div class="wrapper">
     <div class="main-container">
      <div class="searched-jobs">
       <div class="searched-bar">
        <div class="searched-show">Showing {{data.length}} Events</div>
        <div class="search-container">
          <input type="text" id="mySearch" [value]="this.params.q" (keyup)="onSearch($event)" placeholder="Search Job Title..." title="Type in a job title" class="search-input">
          <i class="fa fa-search search-icon"></i>
        </div>
        <div class="searched-sort">Sort by: 
          <select name="client-sort" id="client-sort" style="border-style: none;font-weight: 600;" (change)="onChange($event)">
            <option class="post-time" value="desc">Newest Post</option> 
            <option class="post-time" value="asc">Old Post</option> 
          </select>
        </div>
       </div>
       <div class="job-cards">
        <div class="job-card" *ngFor="let events of data">
         <div class="job-card-header">
          <img class="insta" height="190" src="{{events.imageURL?.S}}">
          <img>
          <div class="menu-dot"></div>
         </div>
         <div class="job-card-title" style="text-align: center;">{{events.title?.S}}</div>
         <!-- <div class="job-card-subtitle">
          The User Experience Designer position exists to create compelling and digital user experience through excellent design...
         </div> -->
         <div id="wrapper">
          <div id="inner1">
            <button class="search-buttons event-detail-button"><span style="font-weight: bolder;">Where :</span> {{events.place?.S}}</button>
          </div>
          <div id="inner2">
            <button class="search-buttons event-detail-button"><span style="font-weight: bolder;">Start :</span> {{events.startTime?.S}}</button>
          </div>
          <div id="inner2">
            <button class="search-buttons event-detail-button"><span style="font-weight: bolder;">End : </span>{{events.endTime?.S}}</button>
          </div>
          <div id="inner2">
            <button class="search-buttons event-detail-button"><span style="font-weight: bolder;">Fee : </span>&#163; {{events.fee?.S}}</button>
          </div>
      </div>
         <!-- <div class="job-detail-buttons">
          <button class="search-buttons detail-button">Where : Leeds Community Office</button>
          <button class="search-buttons detail-button">Start : August 10th 10am</button>
          <button class="search-buttons detail-button">End : August 10th 5pm</button>
          <button class="search-buttons detail-button">Fee : Test Data</button>
         </div> -->
         <div class="job-card-buttons">
         
            <button class="search-buttons card-buttons" >
              <a  style="text-decoration: none; color: white;" [href]="events.applyURL?.S">
                Book Now
              </a>
            </button>
          <!-- <button class="search-buttons card-buttons-msg">Messages</button> -->
         </div>
        </div>
        
        
       </div>
     </div>
    </div>
   </div>
</div>
<app-footer></app-footer>