
<section id="content">
    <!-- NAVBAR -->
    <app-admin-header></app-admin-header>
    <!-- NAVBAR -->

<main>
    <div class="success-msg" *ngIf="successmsg">
        <i class="fa fa-check"></i>
        {{successMsgCnt}}
    </div>
    <div class="warning-msg" *ngIf="warningmsg">
        <i class="fa fa-warning"></i>
        This is a warning message.
      </div>
      
      <div class="error-msg" *ngIf="errormsg">
        <i class="fa fa-times-circle"></i>
        This is a error message.
      </div>
    <div class="head-title">
      <div class="left">
        <h1>Users</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li><i class='bx bx-chevron-right' ></i></li>
          <li>
            <a class="active" href="javascript:;">Users</a>
          </li>
        </ul>
      </div>
      <a href="javascript:;" class="btn-download" (click)="addEvent()">
        <i class='bx bxs-cloud-download' ></i>
        <span class="text">Add User</span>
      </a>
    </div>

    <div class="table-data" id="eventsFTable">
      <div class="order">
        <div class="head">
          <h3>User Records</h3>
          <i class='bx bx-search' ></i>
          <input type="text" class="searchText" id="mySearch" [value]="this.params.q" (keyup)="onSearch($event)" placeholder="Search.." title="Type in a category">
          <i class='bx bx-filter' ></i>
        </div>
        <table>
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Info</th>
              <th>Position</th>
              <!-- <th>Contact Details</th> -->
              <th>Username</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor=" let datas of data" class="{{datas.id?.S}}" (click)="selectRow(datas.id?.S)" >
              <td>
                <img src="https://img.playbook.com/IZSaaisbuPYRUSQYBZckzA61Px-1dJx2_5pGRp3N4dk/Z3M6Ly9wbGF5Ym9v/ay1hc3NldHMtcHVi/bGljLzRkZmUwYjQ2/LWRhNjAtNDQ2Yy1h/Y2UxLWM0ZTZkMGI3/NTdlMA">
                <p>{{datas.fName?.S}}</p>
              </td>
              <td>{{datas.lName?.S}}</td>
              <td>{{datas.info?.S}}</td>
              <td>{{datas.position?.S}}</td>
              <td>{{datas.contactDetails?.S}}</td>
              <td>{{datas.username?.S}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>

  <div class="modal fade" id="add-event-modal" tabindex="-1">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
          <!-- <button type="button" class="close profile-close" data-dismiss="modal" aria-label="Close" #closeSignupKoala>
          <img src="assets/img/modal-close.svg" alt="icon" width="25" height="25" />
          </button> -->
          

          <div class="container">
            <h2 class="heading" style="text-align: center;color: #5c821a;font-weight: 400;">Create New User</h2>
            <form #userForm="ngForm" (ngSubmit)="submitForm(userForm)" >
              <div class="form-group">
                <label for="fName">First Name*</label>
                <input type="text" class="form-control" id="fName" name="fName" [(ngModel)]="eventDetails.fName" required>
              </div>
              
              <div class="form-group">
                <label for="lName">Last Name*</label>
                <input type="text" class="form-control" id="lName" name="lName" [(ngModel)]="eventDetails.lName" required>
              </div>
          
              <div class="form-group">
                <label for="info">Info*</label>
                <input type="text" class="form-control" id="info" name="info"  [(ngModel)]="eventDetails.info" required>
              </div>

              <div class="form-group">
                <label for="position">Position*</label>
                <input type="text" class="form-control" id="position" name="position"  [(ngModel)]="eventDetails.position" required>
              </div>

              <!-- <div class="form-group">
                <label for="contactDetails">Contact Details*</label>
                <div class="form-group" formGroupName="contactDetails">
                    <div class="form-group">
                        <label for="phoneNumber">Phone Number*</label>
                        <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" [(ngModel)]="eventDetails.contactDetails.phoneNumber" required>
                    </div>
            
                    <div class="form-group">
                        <label for="linkedIn">LinkedIn Address*</label>
                        <input type="text" class="form-control" id="linkedIn" name="linkedIn" [(ngModel)]="eventDetails.contactDetails.linkedIn" required>
                    </div>
                </div>
            </div> -->

              <div class="form-group">
                <label for="email">Email ID*</label>
                <input type="text" class="form-control" id="email" name="email"  [(ngModel)]="eventDetails.contactDetails.email" required>
              </div>

              <div class="form-group">
                <label for="linkedIn">LinkedIn Address*</label>
                <input type="text" class="form-control" id="linkedIn" name="linkedIn"  [(ngModel)]="eventDetails.contactDetails.linkedIn" required>
              </div>

              <div class="form-group">
                <label for="username">Username*</label>
                <input type="text" class="form-control" id="username" name="username"  [(ngModel)]="eventDetails.username" required>
              </div>

              <div class="form-group">
                <label for="imageURL">Image URL*</label>
                <input type="text" class="form-control" id="imageURL" name="imageURL"  [(ngModel)]="eventDetails.imageURL" required>
              </div>

              <div class="form-group">
                <label for="testamonials">Testamonials*</label>
                <input type="text" class="form-control" id="testamonials" name="testamonials"  [(ngModel)]="eventDetails.testamonials" required>
              </div>

              <!-- <div class="form-group">
                <label for="isExecutive">Is Executive*</label>
                <label class='toggle-label'>
                    <input type='checkbox' class="form-control" id="isExecutive" name="isExecutive"  [(ngModel)]="eventDetails.isExecutive"/>
                    <span class='back'>
                        <span class='toggle'></span>
                        <span class='label on'>Yes</span>
                        <span class='label off'>No</span>  
                    </span>
                </label>
            </div> -->

            <div class="form-group">
                <label for="memberType">Is Executive*</label>
                <select class="form-control" style="height: 40px;" id="memberType" name="memberType" [(ngModel)]="eventDetails.memberType" required>
                    <option value="" >No</option>
                    <option value="executive">Yes</option>
                </select> 
            </div>

              <div class="form-group">
                <label for="role">Roles*</label>
                <select class="form-control" style="height: 40px;" id="role" name="role" [(ngModel)]="eventDetails.role" required>
                    <option value="{{ role.id.S }}" *ngFor="let role of roleData ">{{ role.name.S }}</option>
                  </select> 
              </div>
          
              <!-- <div class="form-group">
                <label for="gender">Event Status</label>
                <select class="form-control" id="gender" name="gender"  required>
                  <option value="" disabled>Select Gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="other">Other</option>
                </select>
                <div  class="text-danger">
                  Please select a gender.
                </div>
              </div> -->
              <div class="splitscreen">
                <div class="left">
                    <input  type="submit"
                    class="btn-events"  >
                </div>
              
                <div class="right">
                    <button type="button" class="btn-events-close" (click)="closeModal()">
                        cancel
                        </button>
                </div>
              </div>
              
             
              <!-- <span class="spinner-border" role="status" aria-hidden="true"></span> -->
            </form>
          </div>
      </div>
    </div>
    </div>
    </div>



    <div class="modal fade" id="action-event-modal" tabindex="-1">
        <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
              <div class="container">
                <h2 class="heading" style="text-align: center;">Edit or Delete User</h2>
                <input value="" type="hidden" id="editOrDeleteEvent">
                  <div class="splitscreen">
                    <div class="left">
                        <button type="button" class="btn-events" (click)="editModal()">
                            Edit
                            </button>
                    </div>
                    <div class="right">
                        <button type="button" class="btn-events-close" (click)="deletModal()">
                            Delete
                            </button>
                    </div>
                  </div>
              </div>
          </div>
        </div>
        </div>
        </div>



        <div class="modal fade" id="delete-event-modal" tabindex="-1">
            <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                  <div class="container">
                    <h2 class="heading" style="text-align: center;">Are you sure you want to delete this user? </h2>
                    <input value="" type="hidden" id="confrmDeleteEvent">
                      <div class="splitscreen">
                        <div class="left">
                            <button type="button" class="btn-events" (click)="deletEvent()">
                                Yes
                                </button>
                        </div>
                      
                        <div class="right">
                            <button type="button" class="btn-events-close" (click)="closeDeletModal()">
                                No
                                </button>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
            </div>
            </div>

            <div class="modal fade" id="edit-event-modal" tabindex="-1">
                <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                      <!-- <button type="button" class="close profile-close" data-dismiss="modal" aria-label="Close" #closeSignupKoala>
                      <img src="assets/img/modal-close.svg" alt="icon" width="25" height="25" />
                      </button> -->
                      
            
                      <div class="container">
                        <h2 class="heading" style="text-align: center;color: #5c821a;font-weight: 400;">Edit User</h2>
                        <input type="hidden" value="" id="editEventsId">
                        <form [formGroup]="myForm" (ngSubmit)="updateEventsForm(myForm)">
                            <div class="form-group">
                              <label for="fName">
                                First Name:
                              </label>
                              <input class="form-control" formControlName="fName" placeholder="firstName">
                            </div>
                            <div class="form-group">
                                <label for="lName">
                                  Last Name:
                                </label>
                                <input class="form-control" formControlName="lName" placeholder="lName">
                              </div>
                            <div class="form-group">
                              <label for="info">
                                Info:
                              </label>
                              <input class="form-control" formControlName="info" placeholder="info">
                            </div>
                            <div class="form-group">
                                <label for="position">
                                  Position:
                                </label>
                                <input class="form-control" formControlName="position" placeholder="position">
                              </div>
                              <!-- <div class="form-group">
                                <label for="contactDetails">
                                    Contact Details:
                                </label>
                                <input class="form-control" formControlName="contactDetails" placeholder="contactDetails">
                              </div> -->
                              <div class="form-group">
                                <label for="email">Email Id*</label>
                                <input type="text" class="form-control" id="email" name="email"  formControlName="email" required>
                              </div>
                
                              <div class="form-group">
                                <label for="linkedIn">LinkedIn Address*</label>
                                <input type="text" class="form-control" id="linkedIn" name="linkedIn"  formControlName="linkedIn" required>
                              </div>
                              <div class="form-group">
                                <label for="username">
                                    Username:
                                </label>
                                <input class="form-control" formControlName="username" placeholder="username">
                              </div>

                              <div class="form-group">
                                <label for="imageURL">Image URL</label>
                                <input type="text" class="form-control" id="imageURL" name="imageURL"  formControlName="imageURL" placeholder="imageURL">
                              </div>
                
                              <div class="form-group">
                                <label for="testamonials">Testamonials</label>
                                <input type="text" class="form-control" id="testamonials" name="testamonials"  formControlName="testamonials" placeholder="testamonials">
                              </div>
                              <div class="form-group">
                                <label for="memberType">Is Executive*</label>
                                <select class="form-control" style="height: 40px;" id="memberType" name="memberType" formControlName="memberType" required>
                                    <option value="" >No</option>
                                    <option value="executive">Yes</option>
                                </select> 
                            </div>
                              <div class="form-group">
                                <label for="role">Roles*</label>
                                <select class="form-control" style="height: 40px;" id="role" name="role" formControlName="role" required>
                                    <option value="{{ role.id.S }}" *ngFor="let role of roleData ">{{ role.name.S }}</option>
                                  </select> 
                              </div>
                            <div class="splitscreen">
                                <div class="left">
                                    <input  type="submit"
                                    class="btn-events"  >
                                </div>
                              
                                <div class="right">
                                    <button type="button" class="btn-events-close" (click)="closeModal()">
                                        cancel
                                    </button>
                                </div>
                              </div>
                          </form>
                      </div>
                  </div>
                </div>
                </div>
            </div>

            

</section>
