/* You can add global styles to this file, and also import other style files */
@import "scss/variables.scss";


html {
    font-size: 62.5%;
}

body {
    font-family: $regular-font-family;
    background-color: $white;
    font-size: 1.6rem;
}

:focus {
    outline: 0;
}

.bt {
    border-radius: 0;
}

.btn-link {
    min-width: 160px;
    height: 4.6rem;
    background-color: $primary;
    border-color: $primary;
    border-radius: 0;
    color: $white;
    font-size: 1.8rem;
    line-height: 1.3;
    padding: 1rem 2rem;

    &:hover,
    &:focus {
        background-color: $white;
        color: $primary;
        text-decoration: none;
    }

    &.white {
        background-color: $white;
        border-color: $white;
        color: $primary;

        &:hover,
        &:focus {
            background-color: transparent;
            color: $white;
        }
    }
}




.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;

    li {
        margin: 0 1rem;
    }

    button {
        display: block;
        width: 1.6rem;
        height: 1.6rem;
        padding: 0;
        border: none;
        border-radius: 100%;
        background-color: #cccccc;
        text-indent: -9999px;

        &:focus {
            outline: none;
        }
    }

    li.slick-active button {
        background-color: black;
    }
}

.publications .slick-dots {
    margin-top: 40px;
}

.ip-banner {
    min-height: 240px;
    display: flex;
    align-items: center;
    position: relative;

    background: {
        repeat: no-repeat;
        position: center;
        size: cover;
        color: $primary;
    }

    &.no-image {
        background-image: none;
    }

    h1 {
        color: $white;
        font-size: 3.6rem;
        font-family: $regular-font-family;
    }
}



.page-content {
    padding: 50px 0;
    background-color: $white;

    .page-title {
        margin-bottom: 20px;
        display: flex;
        align-items: center;

        h2 {
            font-size: 2.4rem;
            font-weight: bold;
            color: $primary;
            margin: 0;
        }


    }

    a.share-link {
        font-size: 1.6rem;
        color: $primary;
        font-weight: normal;
        display: inline-block;
        margin-bottom: 1rem;

        @media(min-width: 768px) {
            margin-bottom: 0;
        }

        i {
            width: 20px;
            height: 20px;
            display: inline-block;
            margin-left: 3px;
            vertical-align: text-bottom;

            background: {
                image: url("/assets/img/icon-link.svg");
                repeat: no-repeat;
                position: center;
                size: cover;
            }

        }
    }

    .tags {
        margin-top: auto;

        .project-label {
            color: $white;
            background-color: $primary;
            font-size: 1.4rem;
            font-weight: normal;
            font-family: $regular-font-family;
            display: inline-block;
            height: 2.6rem;
            line-height: 2rem;
            padding: .3rem 1.5rem;
            margin-bottom: .5rem;

            &:hover {
                text-decoration: none;
            }

            &+.project-label {
                margin-left: 1rem;
            }
        }
    }

    .content {
        font-size: 1.8rem;
        line-height: 1.8;
        font-family: $light-font-family;

        p {
            margin-bottom: 3rem;
        }

        img {
            width: 100%;
        }

        figure {
            margin-bottom: 3rem;
        }
    }

}

.view-menus {
    display: flex;
    height: 36px;
    width: 72px;
    align-items: center;
    border: #f2f2f2 solid 1px;
    margin-bottom: 3rem;

    @media (min-width:992px) {
        margin-bottom: 0;
    }

    a {
        width: 36px;
        height: 34px;
        display: inline-block;
        background-color: #f2f2f2;

        background: {
            repeat: no-repeat;
            size: auto 20px;
            position: center;
        }

        &.view-map {
            background-image: url("/assets/img/icon-map-light.svg");

            &.active {
                background-image: url("/assets/img/icon-map-dark.svg");
                background-color: $white;
            }
        }

        &.view-list {
            background-image: url("/assets/img/icon-list-light.svg");

            &.active {
                background-image: url("/assets/img/icon-list-dark.svg");
                background-color: $white;
            }
        }
    }
}

.si-float-wrapper {
    position: relative;
    width: 35.5rem !important;

    @media (min-width: 1200px) {
        top: -314px !important;
        left: -162px !important;
    }

    .si-close-button {
        display: none !important;
    }
}


.pagiation {
    padding: 20px 0;
    text-align: center;

    a {
        color: black;
        padding: 5px;
        text-decoration: none;
        display: inline-block;
        text-align: center;
        line-height: 2.4rem;
        width: 36px;
        height: 36px;
        border: #f2f2f2 solid 1px;
        margin: 0 5px;

        &:hover {
            color: $primary;
        }

        img {
            width: 24px;
        }

        &.prev,
        &.next {
            border-color: transparent;
        }
    }
}

$ph-bg: #fff !default;
$ph-color: #e0e0e0 !default;
$ph-border-radius: 2px !default;
$ph-gutter: 30px !default;
$ph-spacer: 15px !default;
$ph-avatar-border-radius: 50% !default;
$ph-animation-duration: 0.8s !default;

.ph-item {
    &,
    *,
    ::after,
    ::before {
        box-sizing: border-box;
    }

    direction: ltr;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: $ph-gutter ($ph-gutter / 2) ($ph-gutter - $ph-spacer) ($ph-gutter / 2);
    overflow: hidden;
    margin-bottom: $ph-gutter;
    background-color: $ph-bg;
    border: 1px solid darken($ph-bg, 10%);
    border-radius: $ph-border-radius;

    &::before {
        content: " ";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 50%;
        z-index: 1;
        width: 500%;
        margin-left: -250%;
        animation: phAnimation $ph-animation-duration linear infinite;
        background: linear-gradient(to right, rgba($ph-bg, 0) 46%, rgba($ph-bg, 0.35) 50%, rgba($ph-bg, 0) 54%) 50% 50%;
    }

    > * {
        flex: 1 1 auto;
        display: flex;
        flex-flow: column;
        padding-right: ($ph-gutter / 2);
        padding-left: ($ph-gutter / 2);
    }
}

.ph-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: ($ph-spacer / 2);

    div {
        height: 10px;
        margin-bottom: ($ph-spacer / 2);
        background-color: $ph-color;
    }
    .big,
    &.big div {
        height: 35px;
        margin-bottom: $ph-spacer;
    }
    .bigimg {
        height: 100px;
    }
    .empty {
        background-color: rgba($ph-bg, 0);
    }
}

.ph-col-2 {
    flex: 0 0 percentage(2 / 12);
}
.ph-col-4 {
    flex: 0 0 percentage(4 / 12);
}
.ph-col-6 {
    flex: 0 0 percentage(6 / 12);
}
.ph-col-8 {
    flex: 0 0 percentage(8 / 12);
}
.ph-col-10 {
    flex: 0 0 percentage(10 / 12);
}
.ph-col-12 {
    flex: 0 0 percentage(12 / 12);
}

.ph-picture {
    width: 100%;
    height: 120px;
    background-color: $ph-color;
    margin-bottom: $ph-spacer;
}
.ph-picture.img-big {
    height: 500px;
}
.alerts {
    &.ph-item > * {
        flex-direction: row;
    }
    .ph-picture {
        width: 20%; height: auto; margin-right: 20px;
    }
    .ph-row {
        width: 78%;
    }
}

@keyframes phAnimation {
    0% {
        transform: translate3d(-30%, 0, 0);
    }
    100% {
        transform: translate3d(30%, 0, 0);
    }
}
.btn-link.disabled {
    color: $white;
}
.error {
    border-bottom: #f44336 solid 1px !important ;
}
.success {
    background: #4CAF50;
    color: $white;
    padding: 2px 15px;
    font-size: 15px;
}
.loader-spinner{
      border: 4px solid #f3f3f3;
      border-radius: 50%;
      border-top: 4px solid #166385;
      width: 30px;
      height: 30px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.no-records-found {
    border: 1px solid #b3b3b3;
    padding: 10px 20px;
    font-weight: 400;
    color: $primary;
}
.color-normal { color: $text-color !important; }
.word-break { word-break: break-word; }
.image-full-width {width: 100% !important; }
.btn-cancel {
    min-width: 160px;
    height: 4.6rem;
    background-color: #9E9E9E;
    border-color: #9E9E9E;
    border-radius: 0;
    color: #FFF;
    font-size: 1.8rem;
    line-height: 1.3;
    padding: 1rem 2rem;
    margin-right: 10px;
}
div.error {
    background: #f44336;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
}
.slider-arrows {
    background: #efeff4;
    text-align: center;
    font-size: 14px;
    height: 30px;
    display: flex;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: space-around;
    position: relative;
}
a.primary-color { color: $primary; }

.content table {
 border-collapse: collapse;
 width: 100%;
}

.content td, .content th {
 border: 1px solid #dddddd;
 text-align: left;
 padding: 8px;
}

.content tr:nth-child(even) {
 background-color: #dddddd;
}

.imageMap {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("/assets/img/uolabt.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

    }
.imageMap img{ width: 100%; height: 100%;}


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --poppins: 'Poppins', sans-serif;
  --lato: 'Lato', sans-serif;

  --light: #F9F9F9;
  --blue: #5C821A;
  --light-blue: #CFE8FF;
  --grey: #eee;
  --dark-grey: #AAAAAA;
  --dark: #342E37;
  --red: #DB504A;
  --yellow: #FFCE26;
  --light-yellow: #FFF2C6;
  --orange: #FD7238;
  --light-orange: #FFE0D3;
}

html {
  overflow-x: hidden;
}

body.dark {
  --light: #0C0C1E;
  --grey: #060714;
  --dark: #FBFBFB;
}

body {
  background: var(--grey);
  overflow-x: hidden;
}





/* SIDEBAR */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: var(--light);
  z-index: 2000;
  font-family: var(--lato);
  transition: .3s ease;
  overflow-x: hidden;
  scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
  display: none;
}
#sidebar.hide {
  width: 60px;
}
#sidebar .brand {
  font-size: 24px;
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  color: var(--blue);
  position: sticky;
  top: 0;
  left: 0;
  background: var(--light);
  z-index: 500;
  padding-bottom: 20px;
  box-sizing: content-box;
}
#sidebar .brand .bx {
  min-width: 60px;
  display: flex;
  justify-content: center;
}
#sidebar .side-menu {
  width: 100%;
  margin-top: 48px;
}
#sidebar .side-menu li {
  height: 48px;
  background: transparent;
  margin-left: 6px;
  border-radius: 48px 0 0 48px;
  padding: 4px;
}
#sidebar .side-menu li.active {
  background: var(--grey);
  position: relative;
}
#sidebar .side-menu li.active::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -40px;
  right: 0;
  box-shadow: 20px 20px 0 var(--grey);
  z-index: -1;
}
#sidebar .side-menu li.active::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: -40px;
  right: 0;
  box-shadow: 20px -20px 0 var(--grey);
  z-index: -1;
}
#sidebar .side-menu li a {
  width: 100%;
  height: 100%;
  background: var(--light);
  display: flex;
  align-items: center;
  border-radius: 48px;
  font-size: 16px;
  color: var(--dark);
  white-space: nowrap;
  overflow-x: hidden;
}
#sidebar .side-menu.top li.active a {
  color: var(--blue);
}
#sidebar.hide .side-menu li a {
  width: calc(48px - (4px * 2));
  transition: width .3s ease;
}
#sidebar .side-menu li a.logout {
  color: var(--red);
}
#sidebar .side-menu.top li a:hover {
  color: var(--blue);
}
#sidebar .side-menu li a .bx {
  min-width: calc(60px  - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
}
/* SIDEBAR */





/* CONTENT */
#content {
  position: relative;
  width: calc(100% - 280px);
  left: 280px;
  transition: .3s ease;
}
#sidebar.hide ~ #content {
  width: calc(100% - 60px);
  left: 60px;
}




/* NAVBAR */
#content nav {
  height: 56px;
  background: var(--light);
  padding: 0 24px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  font-family: var(--lato);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}
#content nav::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 var(--light);
}
#content nav a {
  color: var(--dark);
}
#content nav .bx.bx-menu {
  cursor: pointer;
  color: var(--dark);
}
#content nav .nav-link {
  font-size: 16px;
  transition: .3s ease;
}
#content nav .nav-link:hover {
  color: var(--blue);
}
#content nav form {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
}
#content nav form .form-input {
  display: flex;
  align-items: center;
  height: 36px;
}
#content nav form .form-input input {
  flex-grow: 1;
  padding: 0 16px;
  height: 100%;
  border: none;
  background: var(--grey);
  border-radius: 36px 0 0 36px;
  outline: none;
  width: 100%;
  color: var(--dark);
}
#content nav form .form-input button {
  width: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--blue);
  color: var(--light);
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 36px 36px 0;
  cursor: pointer;
}
#content nav .notification {
  font-size: 20px;
  position: relative;
}
#content nav .notification .num {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--light);
  background: var(--red);
  color: var(--light);
  font-weight: 700;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#content nav .profile img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}
#content nav .switch-mode {
  display: block;
  min-width: 50px;
  height: 25px;
  border-radius: 25px;
  background: var(--grey);
  cursor: pointer;
  position: relative;
}
#content nav .switch-mode::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: calc(25px - 4px);
  background: var(--blue);
  border-radius: 50%;
  transition: all .3s ease;
}
#content nav #switch-mode:checked + .switch-mode::before {
  left: calc(100% - (25px - 4px) - 2px);
}
/* NAVBAR */





/* MAIN */
#content main {
  width: 100%;
  padding: 36px 24px;
  font-family: var(--poppins);
  max-height: calc(100vh - 56px);
  overflow-y: auto;
}
#content main .head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}
#content main .head-title .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark);
}
#content main .head-title .left .breadcrumb {
  display: flex;
  align-items: center;
  grid-gap: 16px;
}
#content main .head-title .left .breadcrumb li {
  color: var(--dark);
}
#content main .head-title .left .breadcrumb li a {
  color: var(--dark-grey);
  pointer-events: none;
}
#content main .head-title .left .breadcrumb li a.active {
  color: var(--blue);
  pointer-events: unset;
}
#content main .head-title .btn-download {
  height: 36px;
  padding: 0 16px;
  border-radius: 36px;
  background: var(--blue);
  color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  font-weight: 500;
}




#content main .box-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 24px;
  margin-top: 36px;
}
#content main .box-info li {
  padding: 24px;
  background: var(--light);
  border-radius: 20px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
}
#content main .box-info li .bx {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#content main .box-info li:nth-child(1) .bx {
  background: var(--light-blue);
  color: var(--blue);
}
#content main .box-info li:nth-child(2) .bx {
  background: var(--light-yellow);
  color: var(--yellow);
}
#content main .box-info li:nth-child(3) .bx {
  background: var(--light-orange);
  color: var(--orange);
}
#content main .box-info li .text h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--dark);
}
#content main .box-info li .text p {
  color: var(--dark);  
}





#content main .table-data {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 24px;
  margin-top: 24px;
  width: 100%;
  color: var(--dark);
}
#content main .table-data > div {
  border-radius: 20px;
  background: var(--light);
  padding: 24px;
  overflow-x: auto;
}
#content main .table-data .head {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  margin-bottom: 24px;
}
#content main .table-data .head h3 {
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
}
#content main .table-data .head .bx {
  cursor: pointer;
}

#content main .table-data .order {
  flex-grow: 1;
  flex-basis: 500px;
}
#content main .table-data .order table {
  width: 100%;
  border-collapse: collapse;
}
#content main .table-data .order table th {
  padding-bottom: 12px;
  font-size: 13px;
  text-align: left;
  border-bottom: 1px solid var(--grey);
}
#content main .table-data .order table td {
  padding: 16px 0;
}
#content main .table-data .order table tr td:first-child {
  display: flex;
  align-items: center;
  grid-gap: 12px;
  padding-left: 6px;
}
#content main .table-data .order table td img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}
#content main .table-data .order table tbody tr:hover {
  background: var(--grey);
}
#content main .table-data .order table tr td .status {
  font-size: 10px;
  padding: 6px 16px;
  color: var(--light);
  border-radius: 20px;
  font-weight: 700;
}
#content main .table-data .order table tr td .status.completed {
  background: var(--blue);
}
#content main .table-data .order table tr td .status.process {
  background: var(--yellow);
}
#content main .table-data .order table tr td .status.pending {
  background: var(--orange);
}


#content main .table-data .todo {
  flex-grow: 1;
  flex-basis: 300px;
}
#content main .table-data .todo .todo-list {
  width: 100%;
}
#content main .table-data .todo .todo-list li {
  width: 100%;
  margin-bottom: 16px;
  background: var(--grey);
  border-radius: 10px;
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#content main .table-data .todo .todo-list li .bx {
  cursor: pointer;
}
#content main .table-data .todo .todo-list li.completed {
  border-left: 10px solid var(--blue);
}
#content main .table-data .todo .todo-list li.not-completed {
  border-left: 10px solid var(--orange);
}
#content main .table-data .todo .todo-list li:last-child {
  margin-bottom: 0;
}
/* MAIN */
/* CONTENT */



.sideBar-Toggle{
  width: calc(100% - 60px) !important;
  left: 60px !important;
}


.home-banner {
  height: 368px;
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
  background-color: $white;

  @media (min-width:768px) {
      position: left center;
      text-align: left;
  }

  .banCon{
    position: relative;
    bottom: 45%;
}

  .new-text {
      font-size: 3.2rem;
      color: $white;
      max-width: 100%;
      margin-left: auto;
      font-family: $light-font-family;
      padding: 2rem 4rem;
      max-width: 470px;

      @media (min-width:768px) {
          font-size: 3.5rem;
          // padding: 0;
          padding: 15px 15px 15px 0;
          background-color: rgba(0, 0,0,0.5);
          text-align: right;
      }

      p {
          font-size: 16px;
      }

      .ban-btn-link {
          min-width: 100px;
          height: 3.7rem;
          background-color: #5C821A;
          border-color: #5C821A;
          border-radius: 5px;
          color: #FFF;
          font-size: 1.4rem;
          line-height: 1.2;
          padding: 1rem 2rem;
      }
  }

  .slide-img {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      z-index: 1;
  }

  .banner-prev,
  .banner-next {
      width: 32px;
      height: 32px;
      position: absolute;
      z-index: 10;

      @media (min-width:768px) {
          width: 42px;
          height: 42px;
      }

      background: {
          repeat: no-repeat;
          position: center;
          size: 20px;
          // color: $white;
      }

      @media (min-width:768px) {
          background-size: 28px;
      }

      &:hover {
          background: {
              color: $primary;
          }
      }
  }

  // .banner-prev {
  //     background: {
  //         image: url("/assets/img/arrow-left.svg");
  //     }

  //     &:hover {
  //         background: {
  //             image: url("/assets/img/arrow-left-w.svg");
  //         }
  //     }
  // }

  // .banner-next {
  //     right: 0;
  //     background-image: url("/assets/img/arrow-right.svg");


  //     &:hover {
  //         background-image: url("/assets/img/arrow-right-w.svg");
  //     }
  // }

  .home-banner-slider {
      max-width: 100%;
      margin-left: auto;
      height: 100%;
      align-items: center;
      display: flex;
  }


  a.go-down {
      position: absolute;
      left: 50%;
      margin-left: -21px;
      bottom: -21px;

      img {
          width: 42px;
          height: 42px;
      }

      @media (min-width: 768px) {
          bottom: -27px;
          margin-left: -27px;

          img {
              width: 54px;
              height: 54px;
          }
      }
  }

  .home-slide-item {
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
  }


}

.heading-1 {
  text-align: center;
  font-weight: 650;
  color: $lcc-green;
  font-size: 5.5em;

  @media (max-width: 768px) {
      margin-top: 8px;
      font-size: 4.5em;
  }
}

.heading-2 {
  text-align: left;
  font-weight: 500;
  color: $lcc-green;
  font-size: 5em;

  @media (max-width: 768px) {
      margin-top: 8px;
      font-size: 4em;
  }
}

.full {
  height: 90vh;
}

.contentText{
  color: white;
  font-size: 3em;
  font-family: $content-font-family;
  margin-bottom: 16px;
}




@media screen and (max-width: 768px) {
  #sidebar {
    width: 200px;
  }

  #content {
    width: calc(100% - 60px);
    left: 200px;
  }

  .sideBar-Toggle{
    width: calc(100% - 60px) !important;
    left: 60px !important;
  }

  #content nav .nav-link {
    display: none;
  }
}






@media screen and (max-width: 576px) {
  #content nav form .form-input input {
    display: none;
  }

  #content nav form .form-input button {
    width: auto;
    height: auto;
    background: transparent;
    border-radius: none;
    color: var(--dark);
  }

  #content nav form.show .form-input input {
    display: block;
    width: 100%;
  }
  #content nav form.show .form-input button {
    width: 36px;
    height: 100%;
    border-radius: 0 36px 36px 0;
    color: var(--light);
    background: var(--red);
  }

  #content nav form.show ~ .notification,
  #content nav form.show ~ .profile {
    display: none;
  }

  #content main .box-info {
    grid-template-columns: 1fr;
  }

  #content main .table-data .head {
    min-width: 420px;
  }
  #content main .table-data .order table {
    min-width: 420px;
  }
  #content main .table-data .todo .todo-list {
    min-width: 420px;
  }
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
