<!-- <div class="ip-banner"  style="background-image: '/assets/img/uolabt.jpeg';" >
    <div class="container" style="text-align: center;">
        <h1>VACANCIES</h1>
    </div>
</div> -->
<app-header ></app-header>
<div class="container">
    <div class="wrapper">
     <div class="main-container">
      <div class="searched-jobs">
       <div class="searched-bar">
        <div class="searched-show">Showing {{data.length}} Clients</div>
        <div class="search-container">
            <input type="text" id="mySearch" [value]="this.params.q" (keyup)="onSearch($event)" placeholder="Search Job Title..." title="Type in a job title" class="search-input">
            <i class="fa fa-search search-icon"></i>
          </div>
          <div class="searched-sort">Sort by: 
            <select name="client-sort" id="client-sort" style="border-style: none;font-weight: 600;" (change)="onChange($event)">
              <option class="post-time" value="desc">Newest Post</option> 
              <option class="post-time" value="asc">Old Post</option> 
            </select>
          </div>
       </div>
       <div class="job-cards" >
        <div class="job-card" *ngFor="let vacancy of data">
         <div class="job-card-header">
          <img class="insta" height="190" src="{{vacancy.imageURL?.S}}">
          <img>
          <div class="menu-dot"></div>
         </div>
         <div class="job-card-title">{{vacancy.title?.S}}</div>
         <div class="job-card-subtitle" [innerHTML]="vacancy.objective?.S" id="truncateLongTexts">
         </div>
         <div class="job-card-buttons">
                <button class="search-buttons card-buttons">
                    <a style="text-decoration: none;color: white;" href="javascript:;" [routerLink]="['/client-info/'+ vacancy.id?.S]">
                    More Information
                    </a>
                </button>
         </div>
        </div>
     </div>
    </div>
   </div>
</div>
</div>
<app-footer></app-footer>