<app-header></app-header>
<section class="home-banner">
    <a href="#" class="banner-prev"></a>
    <a href="#" class="banner-next"></a>
    <ngx-slick-carousel class="carousel" 
                        #slickModal="slick-carousel" 
                        [config]="homeSlider" 
                        (init)="slickInit($event)"
                        (breakpoint)="breakpoint($event)"
                        (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
        <div ngxSlickItem *ngFor="let slide of slides" class="item home-slide-item" [style.background-image]="'url(' + slide?.src + ')'">
              <!-- <img src="{{ slide.src }}" alt="" width="100%"> -->
              <div class="ban-container container" style="position: relative;bottom: 28%;">
                <div class="ban-text" style="position: absolute;">
                    <h2>{{slide?.text}}</h2>
                    <p class="ban-subtext">{{slide?.subtext}}</p>
                    <a [href]="slide?.linkroute" class="btn ban-btn-link">{{slide?.linktext}}</a>
                </div>
            </div>
        </div>
</ngx-slick-carousel>
</section>


<section class="vision" id="vision">
    <div class="container home-container">
        <img class="center" src="/assets/img/lcc-green-2.svg" alt="">
        <p class="heading-1">LEEDS COMMUNITY CONSULTING</p>
        <p class="heading-2">What we do:</p>
        <div>
            <p class="contentText">
                LCC is a <span class="hilite">student-led</span> pro-bono consultancy firm.
            </p>
            <p class="contentText">Our aims include:</p> 
            <ul class="contentText">
                <li>Enabling students to gain real world experience first-hand,</li>
                <li>Providing a positive social impact to the local Leeds community,</li>
            </ul>
            <p class="contentText">
                We aim to provide <span class="hilite">value</span> in our local community. We attract the most intelligent and enthusiastic
                minds in Leeds and match them with clients that come to us with a variety of issues and aims!
            </p>
            <p class="heading-2">Why LCC?</p> 
            <ul class="contentText">
                <li>Free yet professional services.</li>
                <li>Access to fresh perspective and creative minds of students.</li>
                <li>Wide variety of skill sets brought to the project.</li>
            </ul>
            <p class="heading-2">What we can offer:</p> 
            <p class="contentText">We have the skills to assist you in the following areas:</p> 
            <ul class="contentText">
                <li>Consumer & Market Research,</li>
                <li>Operations Management,</li>
                <li>Brand & Communication,</li>
                <li>Data Analytics,</li>
                <li>Business Strategy,</li>
            </ul>
        </div>
        <p class="heading-2">Testimonials:</p>
        <p class="contentText">The following testimonials are excerpts of feedback from clients we’ve had the pleasure of working
            with.</p>
        <div class="testimonialsrow">
            <div class="testimonialscolumn" *ngFor="let testimonialas of data">
                <a href="javascript:;" style="text-decoration: none;" [routerLink]="['/client-info/']+testimonialas.id?.S" >
                    <div class="card" >
                        <img [src]="testimonialas.imageURL?.S" alt="" style="width:100%">
                        <div class="container">
                            <h3><b>{{testimonialas.title?.S}}</b></h3> 
                            <p [innerHTML]="testimonialas.objective?.S" id="truncateLongTexts"></p> 
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <!-- <p class="heading-2">WORK WITH US</p>
        <div class="image-button-container">
            <div class="image-button" style="background-image: url('/assets/img/become-consultant.jpg');">
                <a href="javascript:;" [routerLink]="['/vacancies']" [queryParams]="{ q: '', published: '1', order: 'asc' }">
                    <div class="centered-text">BECOME A CONSULTANT</div>
                </a>
            </div>
            <div class="image-button" style="background-image: url('/assets/img/hire-services.jpg'); background-position: center;">
                <div class="centered-text">HIRE OUR SERVICES</div>
            </div>
            <div class="image-button" style="background-image: url('/assets/img/contact-us.jpg');">
                <a href="javascript:;" [routerLink]="['/contact-us']">
                    <div class="centered-text">CONTACT US</div>
                </a>
            </div>
            <div class="image-button" style="background-image: url('/assets/img/vacancies.jpg');">
                <a href="javascript:;" [routerLink]="['/vacancies']" [queryParams]="{ q: '', published: '1', order: 'asc' }">
                    <div class="centered-text">VACANCIES</div>
                </a>
            </div>
        </div> -->
    </div>
</section>
<app-footer></app-footer>