<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="footer-links">
                    <h4>Leeds Community Consulting</h4>
                    <ul>
                        <li><a href=""></a></li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="row footer-bottom">
            <div class="col col-12 col-sm-6 col-xl-6">
                <img src="/assets/img/lcc-logo.svg" class="logo" />
            </div>
            <div class="col col-12  col-xl-3">
                <div class="sm-links">
                    <!-- <a href="#" class="fb"></a> -->
                    <!-- <a href="#" class="instagram"></a> -->
                    <a href="" target="_blank" class="linkedin"></a>
                    <a href="" target="_blank" class="twitter"></a>

                </div>
            </div>
        </div>
        <div class="col-12 copyrights-panel-bottom">
            <div class="row">
            <div class="col-12 col-lg-12 d-flex align-items-center order-2 order-md-1 text-center text-md-left ">
                <p class="copyrights">Leeds Community Consulting® is a student-led pro-bono consultancy firm.</p>
            </div>
        </div>
        </div>
    </div>
</footer>
