// Color // 
$white      : #FFF;
$primary    : #5C821A;
$dark-grey  : #4A4A49;
$text-color : #0b0b22;


// Font Family //
$regular-font-family    : Helvetica, "Helvetica Neue", Arial, sans-serif;
$title-font-family      : "Helvetica Neue", Helvetica, Arial, sans-serif;
$light-font-family      : "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$content-font-family    : "Helvetica Neue", Helvetica, Arial, sans-serif;

$ani-speed: 2s;
$ani-delay: 1s;