<app-header ></app-header>

<div class="ip-banner"  [style.background-image]="'url(' + data?.imageURL + ')'" style="top: 10px;" >
    <!-- <div class="container" style="text-align: center;">
        <h1>ABOUT US</h1>
    </div> -->
</div>

<section class="page-content publication-content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="main-title">
                    <h1>{{data?.title}}</h1>
                </div>

                <div class="sub-section">
                    <h2>About the Client </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse consequat, nibh nec iaculis commodo, mauris dui feugiat velit, at luctus dui lectus eu lorem. Proin vitae lacinia risus. Donec varius vel enim id pulvinar. Phasellus volutpat lacus in sem laoreet mattis. In quis diam quis elit vehicula bibendum a eu risus. Quisque lorem erat, rhoncus ac neque vel, iaculis cursus neque. Sed eu congue neque. Maecenas vitae mi semper lorem convallis bibendum vitae ut sapien. Morbi dignissim luctus felis.  
                    </p>
                </div>

                <div class="sub-section">
                    <h2>Objectives </h2>
                    <p [innerHTML]="data?.objective"></p>
                </div>

                <div class="sub-section">
                    <h2>Outcome </h2>
                    <p [innerHTML]="data?.outcome"></p>
                </div>
            </div>
        </div>
    </div>
</section>



<app-footer></app-footer>
