<header>
    <div class="container">
        <div class="header-inner">
            <a href="/" class="logo" alt="LCC"></a>
            <div class="mobile-menu">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div class="hdr-right">
                <!-- <div class="search">
                    <a href="javascrtipt:;" class="link-member">Member Area</a>
                </div> -->

                <nav class="nav-menu ">
                    <ul class="navbar-nav">
                        <li class="drop-down nav-item dropdown" >
                            <a class="nav-link dropdown-toggle" href="javascript:;" 
                                data-toggle="dropdown">About Us</a>
                        </li>
                        <li class="drop-down nav-item dropdown" >
                            <a class="nav-link dropdown-toggle" href="javascript:;" 
                                data-toggle="dropdown">Vacancies</a>
                        </li>
                        <li class="drop-down nav-item dropdown" >
                            <a class="nav-link dropdown-toggle" href="javascript:;" 
                                data-toggle="dropdown">Clients</a>
                        </li>
                        <li class="drop-down nav-item dropdown" >
                            <a class="nav-link dropdown-toggle" href="javascript:;" 
                                data-toggle="dropdown">Events</a>
                        </li>
                        <li class="drop-down nav-item dropdown" >
                            <a class="nav-link dropdown-toggle" href="javascript:;" 
                                data-toggle="dropdown">FAQ</a>
                        </li>
                        <li class="drop-down nav-item dropdown" >
                            <a class="nav-link dropdown-toggle" href="javascript:;" 
                                data-toggle="dropdown">Portal</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
</header>
<!-- <div class="tag-line">
    <div class="container">
        LCC ORGANISATION
    </div>
</div> -->
