<header>
    <div class="container">
        <div class="header-inner">
            <a href="/" class="logo" alt="LCC"></a>
            <div class="mobile-menu" [ngClass]="{ 'open' : navToggle  }" (click)="toggleNav()">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div class="hdr-right" [ngClass]="{ 'mw-show' : navToggle }">
                <nav class="nav-menu ">
                    <ul class="navbar-nav">
                        <li class="nav-item " >
                            <a class="nav-link" href="javascript:;" 
                            [routerLink]="['/about-us']">About Us</a>
                        </li>
                        <li class="drop-down nav-item dropdown" >
                            <a class="nav-link " href="javascript:;" 
                            [routerLink]="['/vacancies']" [queryParams]="{ q: '', published: '1', order: 'asc' }">Vacancies</a>
                        </li>
                        <li class="drop-down nav-item dropdown" >
                            <a class="nav-link " href="javascript:;" 
                            [routerLink]="['/clients']"  [queryParams]="{ q: '', published: '1', order: 'asc' }">Clients</a>
                        </li>
                        <li class="drop-down nav-item dropdown" >
                            <a class="nav-link " href="javascript:;" 
                                [routerLink]="['/events']" [queryParams]="{ q: '', published: '1', order: 'asc' }">Events</a>
                        </li>
                        <li class="drop-down nav-item dropdown" >
                            <a class="nav-link " href="javascript:;" 
                            [routerLink]="['/faqs']" >FAQ</a>
                        </li>
                        <li class="drop-down nav-item dropdown" >
                            <a class="nav-link " href="javascript:;" 
                            [routerLink]="['/contact-us']" >Contact Us</a>
                        </li>
                        <li class="drop-down nav-item dropdown" >
                            <a class="nav-link" [routerLink]="['/admin/login']"
                            >Portal</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
</header>
<!-- <div class="tag-line">
    <div class="container">
        LCC ORGANISATION
    </div>
</div> -->
