<!-- <app-sidebar></app-sidebar> -->

 <!-- CONTENT -->
 <section id="content">
  <app-admin-header></app-admin-header>

  <!-- MAIN -->
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Dashboard</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li><i class='bx bx-chevron-right' ></i></li>
          <li>
            <a class="active" href="#">Home</a>
          </li>
        </ul>
      </div>
      <!-- <a href="#" class="btn-download">
        <i class='bx bxs-cloud-download' ></i>
        <span class="text">Download PDF</span>
      </a> -->
    </div>

    <ul class="box-info">
      <a href="javascript:;" [routerLink]="['/admin/events']" [queryParams]="{ q: '', published: '1', order: 'asc' }">
        <li>
          <i class='bx bxs-calendar-check' ></i>
          <span class="text">
            <h3>{{events}}</h3>
            <p>Events</p>
          </span>
        </li>
      </a>
      <a href="javascript:;" [routerLink]="['/admin/vaccancy']" [queryParams]="{ q: '', published: '1', order: 'asc' }">
        <li>
          <i class='bx bxs-doughnut-chart' ></i>
          <span class="text">
            <h3>{{vacancyData}}</h3>
            <p>Vacancy</p>
          </span>
        </li>
      </a>

      <a href="javascript:;" [routerLink]="['/admin/caseStudies']" [queryParams]="{ q: '', published: '1', order: 'asc' }">
        <li>
          <i class='bx bxs-message-dots' ></i>
          <span class="text">
            <h3>{{caseStudies}}</h3>
            <p>Case Studies</p>
          </span>
        </li>
      </a>
      
      <a href="javascript:;" [routerLink]="['/admin/users']" [queryParams]="{ q: '', published: '1', order: 'asc' }">
        <li>
          <i class='bx bxs-group' ></i>
          <span class="text">
            <h3>{{UsersData}}</h3>
            <p>Users</p>
          </span>
        </li>
      </a>

      
    </ul>


    <div class="table-data">
      
      
    </div>
  </main>
  <!-- MAIN -->
</section>
<!-- CONTENT -->