<app-header></app-header>
<div class="accordion">
    <h1>Frequently Asked Questions</h1>
    <div class="accordion-item">
        <input type="checkbox" id="accordion1">
        <label for="accordion1" class="accordion-item-title"><span class="icon"></span>What is LCC?</label>
        <div class="accordion-item-desc">
            <p>
                LCC is a student-led pro-bono consultancy firm.
            </p>
            <p >Our aims include:</p> 
            <ul>
                <li style="list-style: disc;">enabling students to gain real world experience first-hand</li>
                <li style="list-style: disc;">providing a positive social impact to the local Leeds community</li>
            </ul>
            <p >
                We aim to provide value in our local community. We attract the most intelligent and enthusiastic
                minds in Leeds and match them with clients that come to us with a variety of issues and aims!
            </p>
        </div>
    </div>

    <div class="accordion-item">
        <input type="checkbox" id="accordion2">
        <label for="accordion2" class="accordion-item-title"><span class="icon"></span>Why LCC? </label>
        <div class="accordion-item-desc">
            <ul >
                <li style="list-style: disc;">Free yet professional services</li>
                <li style="list-style: disc;">Access to fresh perspective and creative minds of students</li>
                <li style="list-style: disc;">Wide variety of skill sets brought to the project</li>
            </ul>
        </div>
    </div>

    <div class="accordion-item">
        <input type="checkbox" id="accordion3">
        <label for="accordion3" class="accordion-item-title"><span class="icon"></span>Who are some of your past clients?</label>
        <div class="accordion-item-desc">
            <p >
                To view our past clients, go to our <a [routerLink]="['/clients']" [queryParams]="{ q: '', published: '1', order: 'asc' }" href="javascript:;" class="lcc-link">clients page</a>.
            </p>
        </div>
    </div>

    <div class="accordion-item">
        <input type="checkbox" id="accordion4">
        <label for="accordion4" class="accordion-item-title"><span class="icon"></span>What is an External Mentor?</label>
        <div class="accordion-item-desc">

        </div>
    </div>

    <div class="accordion-item">
        <input type="checkbox" id="accordion5">
        <label for="accordion5" class="accordion-item-title"><span class="icon"></span>I’m an existing member, how can I access our filesystem?</label>
        <div class="accordion-item-desc">

        </div>
    </div>

    <div class="accordion-item">
        <input type="checkbox" id="accordion6">
        <label for="accordion6" class="accordion-item-title"><span class="icon"></span>Will I be paid?</label>
        <div class="accordion-item-desc">
            <p>Leeds Community Consulting is a pro-bono consultancy to help students acquire the skills necessary to pursue a future in consultancy. Our members therefore do not earn a salary.</p>
        </div>
    </div>

    <div class="accordion-item">
        <input type="checkbox" id="accordion7">
        <label for="accordion7" class="accordion-item-title"><span class="icon"></span>What are the expected hours?</label>
        <div class="accordion-item-desc">
            
        </div>
    </div>

</div>
<app-footer></app-footer>